<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
      <form method="post" action="/enq">
        <label>Name</label>
        <input type="text" name="name">
        <br>
        <br>
        <label>Rank</label>
        <input type="text" name="rank">
        <br>
        <br>
        <label>Text</label>
        <input type="text" name="text">
        <br>
        <br>
        <button type="submit">Submit</button>
      </form> 
</body>
</html>